h3, h1 {
  text-align: center;
}

h3 {
  background-color: black;
  color: white;
}

.quiz-list {
  /*align-items: center;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

label {
  margin-left: 20px;
}

button {
  border: 2px solid black;
  border-radius: 10px;
  background-color: red;
  height: 50px;
  transition-duration: .5s;
  /*width: 100px;*/
}

button:hover {
  background-color: green;
  cursor: pointer;
  transition-duration: .5s;
}

input:hover {
  cursor: pointer;
}
